<a href="https://colab.research.google.com/github/ahvblackwelltech/Fertility_Diagnose_Prediction/blob/master/Fertility_Diagnose.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fertility Data Set

**100 volunteers provide a semen sample analyzed according to the WHO 2010 criteria. Sperm concentration are related to socio-demographic data, environmental factors, health status, and life habits**

In [0]:
### Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
from google.colab import files
uploaded = files.upload()

Saving Fertility_Diagnosis_Data.csv to Fertility_Diagnosis_Data (1).csv

In [5]:
df1 = pd.read_csv('Fertility_Diagnosis_Data.csv', header=None)
df1.columns = ['Season', 'Age', 'Child_disease', 'Trauma', 'Surg_Interv', 
               'High_Fever', 'Al_Consum', 'Smoking', 'Hours_Sitt', 'Out']
df1.head()

   Season   Age  Child_disease  Trauma  ...  Al_Consum  Smoking  Hours_Sitt  Out
0   -0.33  0.69              0       1  ...        0.8        0        0.88    N
1   -0.33  0.94              1       0  ...        0.8        1        0.31    O
2   -0.33  0.50              1       0  ...        1.0       -1        0.50    N
3   -0.33  0.75              0       1  ...        1.0       -1        0.38    N
4   -0.33  0.67              1       1  ...        0.8       -1        0.50    O

[5 rows x 10 columns]

In [6]:
df1.dtypes

Season           float64
Age              float64
Child_disease      int64
Trauma             int64
Surg_Interv        int64
High_Fever         int64
Al_Consum        float64
Smoking            int64
Hours_Sitt       float64
Out               object
dtype: object

In [0]:
df1['Age'] = df1['Age'].astype('int64')

In [20]:
df1['Age'].sum()

2

In [7]:
!pip install pandas-profiling

Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (1.12.0)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (3.1.3)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (2.11.1)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (0.25.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.6.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.4.6)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.17.5)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.8->pandas-profiling) (1.1.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas-profiling) (45.2.0)

In [21]:
df1.describe()

           Season         Age  ...     Smoking  Hours_Sitt
count  100.000000  100.000000  ...  100.000000  100.000000
mean    -0.078900    0.020000  ...   -0.350000    0.406800
std      0.796725    0.140705  ...    0.808728    0.186395
min     -1.000000    0.000000  ...   -1.000000    0.060000
25%     -1.000000    0.000000  ...   -1.000000    0.250000
50%     -0.330000    0.000000  ...   -1.000000    0.380000
75%      1.000000    0.000000  ...    0.000000    0.500000
max      1.000000    1.000000  ...    1.000000    1.000000

[8 rows x 9 columns]

In [22]:
df1.isnull().sum()

Season           0
Age              0
Child_disease    0
Trauma           0
Surg_Interv      0
High_Fever       0
Al_Consum        0
Smoking          0
Hours_Sitt       0
Out              0
dtype: int64

In [25]:
from sklearn.impute import SimpleImputer

target = 'Age'
feature = df1[['Smoking', 'Al_Consum', 'Trauma', 'Surg_Interv']]


imputer = SimpleImputer()
feature = pd.DataFrame(imputer.fit_transform(feature))
feature.isnull().sum()

0    0
1    0
2    0
3    0
dtype: int64

In [0]:
# from pandas_profiling import ProfileReport

# profile = ProfileReport(df1, minimal=True)
# profile.to_file(output_file="output_min.html")

In [0]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

pipeline = make_pipeline(StandardScaler(), PCA(2))

scaler = StandardScaler()
data_1 = scaler.fit_transform(feature)

pca = PCA(2)
data_2 = pca.fit_transform(data_1)

df2 = pd.DataFrame(pipeline.fit_transform(feature))

In [0]:
import seaborn as sns
df2 = pd.DataFrame(data_2)
sns.scatterplot(data=df2, x=0, y=1, hue=2, alpha=0.8);